<!-- <app-side-bar></app-side-bar> -->
<div *ngIf="currentBox.posterUrl" id="backgroundPlacer" #backgroundPlacer>
  <img [src]="poster | safeUrl" id="backgroundImg" (load)="onImageLoad()" #image>
</div>

<div id="wrapper" #wrapper>
  <div id="info">
    <p id="titleStyling">{{currentBox.title}}</p>
    <div id="overview">
      <p>{{currentBox.overview}}</p>
    </div>

    <div id="separator"></div>

    <div *ngIf="currentBox.resolution === '3840x2160'" class="bubbles">
      <p>4K UltraHD</p>
    </div>

    <div *ngIf="currentBox.resolution === '1920x1080'" class="bubbles">
      <p>HD</p>
    </div>

    <div *ngIf="currentBox.audio === 'dts'"class="bubbles">
      <p>Dts HD 5.1</p>
    </div>

    <div *ngIf="currentBox.audio === 'truehd' && isAndroid"class="bubbles">
      <p>Dolby Atmos</p>
    </div>

    <div *ngIf="currentBox.dolbyVision === 1 && isAndroid"class="bubbles">
      <p>Dolby Vision</p>
    </div>
  </div>

  <div id="list" #list>
    <div class="boxes" #boxes boxes *ngFor="let movie of movies; index as i" (mouseover)="onHover(i, 'movies')" (click)="selectMovie()">
      <img [src]="movie.posterUrl | safeUrl" class="posterArt">
      <div class="titleCards">
        <p>{{i}}: {{movie.title}}</p>
      </div>
    </div>
  </div>
</div>
