#sideBar {
    width: 50px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    background: linear-gradient(90deg, rgba(71,71,71,0.14329481792717091) 0%, rgba(193,104,56,0.2805497198879552) 0%, rgba(244,89,0,0.4766281512605042) 100%);
}
.menuItem {
    width: 32px;
    height: 32px;
    margin-left: 9px;
    position: absolute;
    top: 30%;
}
#alignSelection {
    padding-top: 250px;
}
.button {
    height: 100px;
    width: 80%;
    position: relative;
}
.elementBorder {
    border: 5px solid green;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
}

.loading-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.progress-text {
    position: absolute;
    bottom: -20px;
    font-size: 10px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
}