<div id="sideBar">
    <div id="alignSelection">
        <div class="button" (click)="navigateTo('search')" #homepageList (mouseover)="onHover(0)">
            <img src="http://192.168.0.153:4012/assets/search.png"class="menuItem">
        </div>

        <div class="button" (click)="navigateTo('videoSelection')" #homepageList (mouseover)="onHover(1)">
            <img src="http://192.168.0.153:4012/assets/film-reel.png" class="menuItem">
        </div>

        <div class="button" (click)="navigateTo('tv')" #homepageList (mouseover)="onHover(2)">
            <img src="http://192.168.0.153:4012/assets/tv-show.png" class="menuItem">
        </div>
    </div>
</div>
