#wrapper {
    position: absolute;
    width: 96%;
    height: 100%;
    margin-left: 50px;
}

.seasons {
    height: 200px;
    color: white;
    position: relative;
    margin-left: 20px;
}

.textAlign {
    position: absolute;
    top: 35%;
}

#seasonsWrapper {
    width: 300px;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(0deg,rgb(39.216% 39.216% 39.216%) 0%,rgb(37.598% 37.598% 37.598%) 6.25%,rgb(35.98% 35.98% 35.98%) 12.5%,rgb(34.363% 34.363% 34.363%) 18.75%,rgb(32.745% 32.745% 32.745%) 25%,rgb(31.127% 31.127% 31.127%) 31.25%,rgb(29.51% 29.51% 29.51%) 37.5%,rgb(27.892% 27.892% 27.892%) 43.75%,rgb(26.275% 26.275% 26.275%) 50%,rgb(24.657% 24.657% 24.657%) 56.25%,rgb(23.039% 23.039% 23.039%) 62.5%,rgb(21.422% 21.422% 21.422%) 68.75%,rgb(19.804% 19.804% 19.804%) 75%,rgb(18.186% 18.186% 18.186%) 81.25%,rgb(16.569% 16.569% 16.569%) 87.5%,rgb(14.951% 14.951% 14.951%) 93.75%,rgb(13.333% 13.333% 13.333%) 100%);
    overflow: scroll;
}

.epCount{
    position: absolute;
    top: 35%;
    margin-left: 180px;
}

#list {
    height: 95%;
    width: 90vw;
    overflow-y: scroll;
    margin-top: 60px;
    position: fixed;
    bottom: 30px;
    margin-left: 320px;
}

.coverArt {
    width: 233px;
    height: 150px;
    position: absolute;
    z-index: -1;
}

.boxes {
    width: 90%;
    height: 150px;
    margin: 10px;
    /* display: inline-block; */
}

.titleCards {
    width: 150px;
    height: 50px;
    background: linear-gradient(to right,rgb(0,0,0),rgba(0,0,0,.6));
    color: #fff;
    position: absolute;
    margin-top: 100px;
    padding: 0px 0px 2px 5px;
}

.elementBorder {
    border: 5px solid green;
}

::-webkit-scrollbar {
    display: none;
}

#seasonSelection {
    width: 10px;
    height: 200px;
    background-color: red;
    float: left;
}
.overview {
    color: #fff;
    width: 60%;
    margin-left: 250px;
    height: 100%;
}