<!-- <app-side-bar></app-side-bar> -->
<div id="wrapper" #wrapper>
    <div id="seasonsWrapper">
      <div id="seasonSelection"></div>
      <div class="seasons" *ngFor="let season of seasons; index as i" (click)="selectSeason(i)" (mouseover)="onHover(i, 'seasons')" #seasons>
        <div class="textAlign">
          <p>Season {{season.season_number}}</p>
            <!-- <p>Season {{}}</p> -->
        </div>
        <div class="epCount">
          <p>Episodes: {{season.numOfEpsInseason}}</p>
        </div>
      </div>
    </div>

    <div id="list">
      <div class="boxes" #boxes *ngFor="let ep of eps; index as e" (mouseover)="onHover(e, 'episodes')" (click)="playEp()">
        <img src="{{ep.backdropPhotoUrl}}" class="coverArt">
        <div class="titleCards">
          <p>{{ep.epTitle}}</p>
        </div>
        <div class="overview">
          <p>{{ep.overview}}</p>
        </div>
      </div>
    </div>
</div>