#wrapper {
    position: absolute;
    width: 96%;
    height: 100%;
    margin-left: 50px;
}

#info {
    margin-top: 50px;
    width: 50%;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    transition: opacity 2.0s;
    height: 240px;
}

#playBtn {
    width: 64px;
    height: 64px;
    float: left;
}

#plot {
    color: #fff;
    position: absolute;
    margin-top: 100px;
    margin-left: 170px;
}

.castMemberPic {
    width: 200px;
    height: 100%;
}

#castList {
    bottom: 0px;
    width: 95%;
    margin-left: 20px;
    position: absolute;
    transition: opacity 2.0s;
}

.castMemberName {
    bottom: 0px;
    width: 95%;
    margin-left: 20px;
    position: absolute;
    transition: opacity 2.0s;
}

.castMemberNameContainer {
    width: 150px;
    height: 50px;
    background: linear-gradient(to right,rgb(0,0,0),rgba(0,0,0,.6));
    color: #fff;
    position: absolute;
    margin-top: 248px;
    padding: 0px 0px 2px 5px;
}

.castMemberImageContainer {
    position: absolute;
}
.castMemberInfo {
    width: 200px;
    height: 300px;
    box-shadow: 1px 1px 10px #999;
    margin-right: 200px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.arrow-container {
    width: 100%;
    position: absolute;
  }

#left {
    float: left;
    height: 320px;
    width: 100px;
}

#right{
    float: right;
    height: 320px;
    width: 100px;
}

#nav {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    gap: 15px;
    padding-bottom: 1.5rem;
    overflow: hidden;
}

#iframePlacer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#iframeHolder {
    width: 100%;
    height: 100%;
}

#coverArt{
    width: 160px;
    float: left;
    margin-right: 10px;
}

.elementBorder {
    border: 5px solid green;
}

#playBtnContainer {
    width: 200px;
    height: 64px;
    position: absolute;
    margin-left: 170px;
}

.transmuxCheck {
    margin-left: 250;
    width: 64px;
    height: 64px;
    position: absolute;
    margin-left: 170px;
    margin-top: 100px;
    /* opacity: 0.0; */
}

#transferTxt {
    float: left;
    color: white;
    margin-left: 90px;
}

.transferIcons {
    width: 64px;
    float: left;
    margin-left: 20px;
}

#videoPlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
