<!-- <app-side-bar></app-side-bar> -->

<div id="wrapper" #wrapper>
    <div id="iframePlacer" #iframePlacer>
        <video id="videoPlayer" #videoPlayer autoplay src="{{trailer}}" type="video/mp4">
            <!-- <source src="{{trailer}}" type="video/mp4"> -->
        </video>
    </div>
    <div id="info" #info (mouseover)="hover()" (mouseout)="hoverOut()">
        <div id="posterContainer">
            <img [src]="coverArt | safeUrl" id="coverArt">
            <p *ngIf="currentDuration" id="duration">Duration: {{currentDuration}}</p>
        </div>
        <div *ngIf="!showVersionSelector" id="playBtnContainer" #playBtnContainer>
            <img id="playBtn" src="assets/playVideo.png" #playBtn (click)="playMovie()">
        </div>

        <div *ngIf="showVersionSelector" id="versionSelector" #versionSelector>
            <p id="versionLabel">Version:</p>
            <div id="versionList">
              <div *ngFor="let version of availableVersions; index as i" 
                   #versionOption
                   class="versionOption" 
                   [class.selected]="i === selectedVersionIndex"
                   (click)="selectVersion(i)"
                   (mouseover)="onVersionHover(i)">
                <p class="versionInfo">
                    <span *ngIf="version.isExtendedEdition === 1" class="extended-label">Extended Edition | </span>
                    <span *ngIf="version.resolution === '1920x1080'">HD | </span>
                    <span *ngIf="version.resolution === '3840x2160'">4k | </span>
                    <span *ngIf="version.audio === 'truehd'">Dolby Atmos</span>
                    <span *ngIf="version.audio !== 'truehd'">{{version.audio}}</span>
                    <span *ngIf="version.dolbyVision === 1"> | Dolby Vision</span>
                    <span *ngIf="version.threeD === 1"> | 3D</span>
                </p>
              </div>
            </div>
          </div>

        <!-- <p id="transferTxt">Transmux Pixie transfer</p>

        <div *ngIf="!transmuxToPixie">
            <img src="assets/check.png" class="transferIcons" (click)="changeTransmuxStatus(0)">
        </div>
        <div *ngIf="transmuxToPixie">
            <img src="assets/copy.png" class="transferIcons" (click)="changeTransmuxStatus(1)">
        </div> -->
        <p id="plot" [style.margin-top.px]="plotTopOffset">{{plot}}</p>
    </div>
    
    <div id="castList" #castList (mouseover)="hover()" (mouseout)="hoverOut()">
        <div class="arrow-container">
            <div class="left" id="left" #left (mouseenter)="leftEnter($event)" (mouseleave)="clear()"></div>
            <div class="right" id="right" #right (mouseenter)="rightEnter($event)" (mouseleave)="clear()"></div>
        </div>
        
        <div id="nav" #nav>
            <div *ngFor="let castMember of cast" class="castMemberInfo">
                <div class="castMemberImageContainer">
                    <img [src]="castMember.picture | safeUrl" class="castMemberPic">
                </div>

                <div class="castMemberNameContainer">
                    <p class="castMemberName">{{castMember.name}}</p>
                </div>  
            </div>
        </div>
    </div>
</div>
