body {
	margin: 0;
	width: 100vw;
    height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 100% 100%;
	animation: gradientBG linear 15s infinite alternate;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@keyframes gradientBG {
	0%   { background-size:100% auto; }
    50% { background-size:400% auto; }
    100% { background-size:800% auto; }
}

