<div id="main">
        <video id="videoplayer" #videoTwo (timeupdate)="setCurrentTime($event)"></video>  
        <div id="currentTime" #currentTime>{{currentTimeDisp}} / {{duration}}</div>
            <button type="button" (click)="playPause($event)" class="play-btn" #playPauseBtn>
                <div class="play-btn-triangle" #playbtntriangle></div>
                <div class="paused" #pauseBtn></div>
            </button>
            <button type="button" (click)="mute($event)" class="mute-btn" #muteBtn>
                <div class="speaker">
                    <div class="muteBlock"></div>
                    <div class="speakers" #muteBtnLines></div>
                </div>
            </button>
            <button type="button" (click)="screentoggle($event)" class="fullScreen" #fullScreen>
                
            </button>
            <div id="seek-bar">
                <div id="fill" #fill></div>
            </div>
        
</div>
