<div id="main">
        <video id="videoplayer" #videoTwo (timeupdate)="setCurrentTime($event)"></video>  
        <div id="currentTime" #currentTime>
          <div class="startTime">
            {{currentTimeDisp}}
          </div> <div class="stopTime">
            {{duration}}
          </div>
        </div>
            <button type="button" (click)="playPause($event)" class="play-btn" #playPauseBtn>
              <div>
                  <svg class="waves" #playBtnWaves xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                  </defs>
                  <g class="parallax">
                  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(145,255,255,0.7" />
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(125,105,255,0.5)" />
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(155,255,25,0.3)" />
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(232, 235, 52, 0.5)" />
                  </g>
                  </svg>
                  </div>
                <div class="play-btn-triangle" #playbtntriangle></div>
                <div class="paused" #pauseBtn></div>
                
            </button>
            <button type="button" (click)="mute($event)" class="mute-btn" #muteBtn>
                <div class="speaker">
                    <div class="muteBlock"></div>
                    <div class="speakers" #muteBtnLines></div>
                </div>
            </button>
            <button type="button" (click)="screentoggle($event)" class="fullScreen" #fullScreen></button>

            <div class="captions">
                <button (click)="captionSelector($event)" class="dropbtn">Dropdown</button>
                <div id="myDropdown" #myDropdown class="dropdown-content">
                    <ul>
                        <li *ngFor="let language of languageArray">
                          <button type="button" (click)="selectedCaption($event, language)">{{ language.tags.language }}</button> 
                        </li>
                      </ul>
                </div>
                <div id="myDropdownAudio" #myDropdown class="dropdown-content">
                    <ul>
                        <li *ngFor="let audio of audioArray">
                          <button type="button" (click)="selectedAudio($event, audio)">{{ audio.tags.language }}</button> 
                        </li>
                      </ul>
                </div>
              </div>

            <div id="custom-seekbar" #customSeekBar (click)="seekBarClick($event)">
                <span id="spans" #spans></span>
                <span id="spansBuffered" #spansBuffered></span>
            </div>
</div>
